
.app{
  margin-top:5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
  position: relative;
}
.flex{
  display: flex;
}
.left-section{
  width: 30%;
  flex: 1;
  /* position: fixed; */
}
.right-section{
  width: 60%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav{
display: flex;
flex-direction: column;
gap: 10px;
}
.navbar{
  
opacity: 0;
}

a{
  color: #b8c0cc;
}
a:hover{
  color: #ffff;
}
.heading-1{
  font-size: 4rem;
}
.heading-2{
  font-weight: bold;
  font-size: 1.25rem;
}
.margin{
  margin-bottom:5% ;
  margin-top: 5%;
}
.fixed{
  position: fixed;
  top: 30%;
  width: 45vh;
}

.vh{
  /* height: 90vh; */
}
li{
  text-decoration: none;
}
.fade-out {
  transition: opacity .5s;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}
.fade-in {
  transition: opacity 1s;
  opacity: 100;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.sticky{
  position: sticky;
  top: 10vh;
}
.scroll-up{
  transition: height 10s;
  -webkit-transition: height 10s;
  -moz-transition: height 10s;
  -ms-transition: height 10s;
  -o-transition: height 10s;
  height:auto;
}
.terminal{
  position: sticky;
  top: 1px;
  height: 100%;
}
.terminal-window{
  display: flex;
  height: 50vh;
  border-radius: 1rem;
  background-color: #ffff;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  flex-direction: column;
}
.terminal-top-ribbon{
  display: flex;
  color: black;
  height: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.terminal-text-area{
  height: 100%;
  width: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
.dummy-keyboard{
  opacity: 0;
  filter: alpha(opacity=0);
}
.user-input {
  position: relative;
}

.user-input::after {
  display: block;
  content: "";
  width: 10px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: -10px;
  animation: blink 1s step-start 0s infinite;
}
.terminal-output {
  overflow-y: hidden;
  overflow: auto;
}

.terminal-line {
  position: relative;
  color: var(--terminal-font-color);
}

.output {
  margin-bottom: 1rem;
  color: var(--terminal-output-color);
}

.directory {
  color: #75e1e7;
  font-weight: 500;
}

.success {
  color: #8dd39e;
}