.app {
  margin: 0;
}
.content {
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 100vh;
  position: relative;
}
.content-card {
  background-color: rgb(18, 18, 30, 0.7);
  backdrop-filter: blur(5px);
  padding: 2.5vh;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}
.flex {
  display: flex;
}
.left-section {
  width: 30vw;
  flex: 1;
}
.right-section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  padding: 1%;
}

.nav-a {
  color: #b8c0cc;
}
.nav-a:hover {
  color: #ffff;
}
.heading-1 {
  font-size: 5rem;
}
.heading-2 {
  font-weight: bold;
  font-size: 1.5rem;
}
.margin {
  margin-bottom: 1%;
  margin-top: 1%;
}
.fixed {
  position: fixed;
  top: 30vh;
  padding-bottom: 0;
}

li {
  text-decoration: none;
}
.fade-out {
  transition: opacity 0.5s;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.fade-in {
  visibility: visible;
  transition: opacity 1s;
  opacity: 100;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.sticky {
  position: sticky;
  top: 10vh;
}
.scroll-up {
  transition: height 10s;
  -webkit-transition: height 10s;
  -moz-transition: height 10s;
  -ms-transition: height 10s;
  -o-transition: height 10s;
  height: auto;
}

.flowfield {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
}

.filler {
  height: 95vh;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
strong {
  font-size: 1.05 rem;
  color: #f2f2f2;
}
.cta-button {
  background-color: transparent;
  font-size: 1.1rem;
  display: flex;
  border: #ffff;
  border-width: 2px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1.5vh;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: background-color 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  height: fit-content;
}
.cta {
  display: flex;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  /*justify-content: center;
  */
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  align-items: center;
}
.cta-button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-weight: 600;
}
.nav-active {
  height: 10vh;
  opacity: 1;
}
.experience-tile {
  display: flex;
  flex-direction: row;
  /* gap: 1.5vw; */
}
.experience-header {
  /* flex-grow: 0; */
  flex-shrink: 0;
  text-wrap: nowrap;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  width: 12.5vw;
}
.experience-title {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
}
.experience-ul {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}
.experience-content {
  display: flex;
  gap: 1vh;
  flex-direction: column;
}
