body {
  margin: 0;
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: #F2F2F2;
  /* color: #1A1A1E; */
}
a{
  text-decoration: none;
  font-size: 1rem;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}
:root{
  --color-primary: #b8c0cc;
  --color-background: #1A1A1E;
  /* --color-background: #F2F2F2; */
  --color-text-primary:#b8c0cc;
  /* --color-text-accent:; */
  --color-2:#435585;
  --color-3: #818FB4;
  --color-4:#F5E8C7;

  --ff-primary:raleway;
  /* --ff-accent:; */
  --ff-terminal:fira-code;
}